<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="app.cjs" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <clear />
        <rule name="Block sensitive application paths" stopProcessing="true">
          <match url="(^|/)(\.|node_modules|migrations|scripts|backups|tests)(/|$|.*)" ignoreCase="true" />
          <action type="CustomResponse" statusCode="404" statusReason="Not Found" statusDescription="Not Found" />
        </rule>
        <rule name="Next.js application" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="app.cjs" />
        </rule>
      </rules>
    </rewrite>
    <iisnode
      node_env="production"
      loggingEnabled="true"
      logDirectory="logs\iisnode"
      debuggingEnabled="false"
      devErrorsEnabled="false"
      watchedFiles="web.config;app.cjs"
      flushResponse="true"
    />
    <directoryBrowse enabled="false" />
    <httpErrors existingResponse="PassThrough" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="26214400" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
